/* Header */

@media (max-width:1300px) and (min-width:768px){
    nav{
        justify-content: space-between;
    }
    nav .column-3 ul li:nth-child(1) ,nav .column-3 ul li:nth-child(2){
        display: none;
    }
    nav .column-2{
        display: none;
    }
    .hamburger .column-2{
        display:block ;
    }
    nav .column-1{
        width: 50%;
    }
    nav .column-2{
        width: 50%;
    }
    section{
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 50px;
    }
    section .column-1 h1 , section .column-1 p{
        width: 100%;
    }
    section .column-1 , section .column-2 , section .column-3{
        width: 100%;
    }
    section .column-1{
        order: 1;
    }
    section .column-2{
        order: 3;
    }
    section .column-3{
        order: 2;
        margin: 0px !important;
    }
    .soical-container{
        justify-content: center;
        gap: 20px;
        width: 90%;
    }
    .bottom-container section .column-1{
        width: 100%;
    }
    .bottom-container section .column-2{
        width: 100%;
        padding-inline-start: 0px !important;
    }
}
@media (max-width:980px) and (min-width:768px){
    .footer-container .column1, .footer-container .column2,.footer-container .column3,.footer-container .column4 {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:767px){

    nav{
        justify-content: space-between;
    }
    nav .column-2{
        display: none;
    }
    nav .column-3 ul li:nth-child(1) ,nav .column-3 ul li:nth-child(2){
        display: none;
    }
    .hamburger .column-2{
        display:block ;
    }
    nav .column-1{
        width: 80%;
    }
    nav .column-3{
        width: 20%;
    }
    section{
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 50px;
    }
    section .column-1 h1 , section .column-1 p{
        width: 100%;
    }
    section .column-1 h1{
        font-size: 80px;
    }
    section .column-1 , section .column-2 , section .column-3{
        width: 100%;
    }
    section .column-1{
        order: 1;
    }
    section .column-2{
        order: 3;
    }
    section .column-3{
        order: 2;
        margin: 0px !important;
    }
    .soical-container{
        justify-content: center;
        gap: 20px;
        width: 90%;
    }
    section .column-2 .circal {
        height: 300px;
        width: 300px;
    }
    .bottom-container section .column-1{
        width: 100%;
    }
    .bottom-container section .column-2{
        width: 100%;
        padding-inline-start: 0px !important;
    }
    .right-side-top h2{
        font-size: 30px;
        line-height: 1.2em;
    }
    .right-side-top p{
        font-size: 16px !important;
        line-height: 1.5em !important;
        width: 90% !important;
    }
    .right-side-bottom div h6{
        font-size: 12px;
    }
    .main-projects-container h2{
        font-size: 16px;
        line-height: 1.3em;
    }
    .bottom-container section .column-2 .main-projects-container .projects-column-1 img, .bottom-container section .column-2 .main-projects-container .projects-column-2 img, .bottom-container section .column-2 .main-projects-container .projects-column-3 img{
        height: 80px !important;
    }
    .footer-container .column1, .footer-container .column2,.footer-container .column3,.footer-container .column4 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}